    body {
        margin: 1rem 10% 1rem 10%;
        font-size: 18px;
        padding: 0;
        background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    }
    
    h1 {
        font-family: "PT Sans";
    }
    
    h2,
    h3 {
        font-family: 'PT Sans', cursive;
    }
    
    p,
    a {
        font-family: 'Josefin Sans', sans-serif;
    }
    
    a {
        color: azure;
        text-decoration: none;
    }
    
    a:hover {
        color: greenyellow;
    }
    
    #byui {
        color: #f64f59;
    }
    
    header,
    footer {
        width: 100%;
        text-align: center;
        background-color: aqua;
        padding: 1rem;
        border-radius: 20px;
    }
    
    header img {
        flex-wrap: wrap;
        max-width: 240px;
        border-radius: 2ch;
        box-shadow: 0 0 30px orange;
    }