
body {
  font-size: 16px;
}

/* phone or baseline views **************************/
header,
footer {
  background-color: rgb(20, 179, 126);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

header,
nav,
main,
footer {
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;

}
h2, h3, h4 {
  color: #536878;
  font-family: 'Oswald', sans-serif;

}

main p {
  color:black;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: #36454f;
  text-align: center;
  box-shadow: 0 2px 15px gray;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li a, #fas {
  display: block;
  color: #fff;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1rem;
  background: linear-gradient(90deg, transparent, rgb(235, 84, 159), transparent) top / var(--d, 0) 10px no-repeat;
  transition: 0.5s;
}
nav a:hover {
background-color: #bbb;
  color: #021a08; 
  --d: 75%;
}

#active {
  color: rgb(226, 71, 92);
}
main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  margin: auto;
}

main section {
	margin: 5rem;
	border: 1px solid #bbb;
	padding: 0 1rem 1rem;
	background-color: #eee;
    border-radius: 30px;
    text-align: center;


}

main section:nth-child(2) {
	display: block;
	margin: 0.5rem;

}
.personimage {
  max-width: 20rem;
  height: 20rem;
  box-shadow: 0 0 30px #333;
  border-radius: 1rem;
}

footer {
  height: auto;
}