/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.fridayBanner {
    font-family: "Koulen";
    font-size: 18px;
    text-align: center;
    background-color: orange;
    color: #fff;
}

.announce {
    display: none;
    height: auto;
    font-size: 20px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 30%;
    background-color: orange;
    color: #000;
}

header div {
    display: none;
}

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Oswald', sans-serif;
}

header,
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #4361ee;
    color: aliceblue;
}

.box-icon {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0;
}

.box-icon h3 {
    color: black;
}

.icon-header {
    width: 350px;
}

footer a {
    color: white;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    text-align: center;
    box-shadow: 0 2px 15px gray;
    margin: 0 3.5em;
    background-color: #4589ef;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    font-style: normal;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    background: linear-gradient(90deg, transparent, rgb(235, 84, 159), transparent) top / var( --d, 0) 10px no-repeat;
    transition: 0.5s;
}

nav ul li a:hover {
    background-color: #bbb;
    color: #021a08;
    --d: 75%;
}

nav ul li.active a {
    color: rgb(226, 71, 92);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

nav ul.open li a:hover {
    background-color: #bbb;
    color: #021a08;
    --d: 75%;
}

main {
    margin: 0 3.5em;
}

main h2 {
    text-align: center;
}

.banner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.banner-img {
    width: 100%;
    max-height: 17rem;
}

.article {
    display: block;
    margin: 1rem 0;
    padding: 10px;
    border: 1px solid #000;
    color: #05386B;
    background-color: beige;
    border-radius: 1em;
}

.article img {
    float: right;
    max-width: 45%;
    max-height: 45%;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 1rem;
    text-align: left;
    color: #eee;
    background-color: #05386b;
    font-size: x-small;
}

#map {
    width: auto;
    height: auto;
    margin: auto 5%;
    float: left;
}

.contact-us {
    grid-column: 2;
    margin: auto;
}

.contact-us h4 {
    text-align: center;
}

main h2 {
    font-size: xx-large;
}

main hr {
    margin-bottom: 1rem;
}


/*--------------------home-page------------------*/

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.cities {
    margin-bottom: 1rem;
    background-color: #FFD24C;
    border-radius: 1ch;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.cities:hover {
    box-shadow: 5px 5px 15px 5px #000000;
}

.cities h2 {
    font-size: large;
}

.cities q {
    font-size: small;
}

.containI,
.i2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1ch;
}

.containP {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cities img {
    width: 250px;
    height: 150px;
    margin: 0 .5rem 0 .5rem;
}


/*-----------------Clearfix: force an element not to collapse-------*/

.clearfix {
    font-size: .9em;
    letter-spacing: 1pt;
    list-style: none;
    text-align: center;
    padding: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clearfix a {
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 100;
}


/* Small/Phone View ***************/