        @media only screen and (min-width: 60em) {
            .text-box {
                display: flex;
                flex-flow: column;
            }
            header h1 {
                font-size: 2rem;
            }
            header,
            footer {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
                justify-content: center;
                background-color: #4361ee;
                color: aliceblue;
            }
            nav a {
                font-size: 1.1rem;
            }
            .weatherSumary {
                position: absolute;
                top: 350px;
                left: 70px;
                width: 15rem;
            }
            .article img {
                float: right;
                max-width: 20%;
                max-height: 20%;
            }
            .article {
                margin: 0;
            }
            .contact {
                font-size: larger;
            }
            #weatherDay {
                justify-content: space-around;
            }
            #forecast-day {
                width: 150px;
            }
            .contact {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 1rem 0;
            }
            main {
                margin: 1rem 15% 1rem 15%;
            }
        }